@model IEnumerable<Soitin2.PlaylistView>


@{
    ViewBag.Title = "Core Playlist";
}
@Scripts.Render("/Scripts/DataTables-1.10.0/media/js/jquery.dataTables.min.js")
@Styles.Render("/Content/DataTables-1.10.0/media/css/jquery.dataTables.css")

<h2>Core Playlist!</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $("table#taulu").DataTable(
            {
                "bServerSide": true,
                "sAjaxSource": "/Playlist/GetCoreTable",
                "bProcessing": true,
                "pageLength": 25,
                "aoColumns":
                [
                    { "sName": "Id"},
                    { "sName": "Artist" },
                    { "sName": "Title" },
                    { "sName": "Owner" },
                    {
                        "sName": "Control",
                        "bSortable": false
                    }
                ],

            });
    });

</script>

<table id="taulu">
    <thead>
        <tr>
            <th>Id</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Owner</th>
            <th>Control</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {
        console.log("Document Loaded!");
        $(document).on("click", ".removeButton", function () {
            var request = $.ajax({
                type: "GET",
                url: "/Test/Remove",
                data: { iTrackId: this.id }
            });
            request.done(function (msg) {
                if (msg["ok"]) {
                    console.log("Removed " + msg["id"] + " succesfully");
                    $("button#" + msg["id"]).removeClass("btn-danger removeButton").addClass("btn-primary addButton").empty().append("Add");
                }
                else {
                    console.log("Error!");
                    console.log(msg);
                }
            });

            request.error(function () { alert("Error!"); });
        });
        $(document).on("click", ".addButton", function () {
            var request = $.ajax({
                type: "GET",
                url: "/Test/Add",
                data: { iTrackId: this.id }
            });
            request.done(function (msg) {
                if (msg["ok"]) {
                    console.log("Added " + msg["id"] + " succesfully");
                    $("button#" + msg["id"]).removeClass("btn-primary addButton").addClass("btn-danger removeButton").empty().append("Remove");
                }
                else {
                    if (msg["aa"] == 1) {
                        $("button#" + msg["id"]).removeClass("btn-primary addButton").addClass("btn-default alreadyButton").empty().append("Already added");

                    }
                    else {
                        alert("Error!");
                    }
                }
            });
            request.error(function () { alert("Error!") });
        });

        $(document).on("click", ".removeCoreButton", function () {
            var regex = /core(\d+)/g;
            var id = regex.exec(this.id);
            var request = $.ajax({
                type: "GET",
                url: "/Test/RemoveCore",
                data: { iTrackId: id[1] }
            });
            request.done(function (msg) {
                if (msg["ok"]) {
                    console.log("Removed " + msg["id"] + " succesfully");
                    $("button#core" + msg["id"]).hide();
                }
                else {
                    console.log("Error!");
                    console.log(msg);
                }
            });

            request.error(function () { alert("Error!"); });


        });


        $(document).on("click", ".addCoreButton", function () {
            var regex = /core(\d+)/g;
            var id = regex.exec(this.id);

            var request = $.ajax({
                type: "GET",
                url: "/Test/AddCore",
                data: { iTrackId: id[1] }
            });
            request.done(function (msg) {
                if (msg["ok"]) {
                    console.log("Added " + msg["id"] + " succesfully");
                    $("button#core" + msg["id"]).removeClass("btn-primary addCoreButton").addClass("btn-danger removeCoreButton").empty().append("Remove from core");
                }
                else {
                    if (msg["aa"] == 1) {
                        $("button#core" + msg["id"]).removeClass("btn-primary addCoreButton").addClass("btn-default alreadyCoreButton").empty().append("Already in core");
                    }
                    else {
                        alert("Error!");
                    }
                }
            });
            request.error(function () { alert("Error!") });
        });
    });


</script>